@import '../components/works.scss';
@import '../components/about.scss';
@import '../components/contact.scss';

$imgpath: "/src/data";

* {
    scroll-behavior: smooth;
    outline: 0 !important;
}

body {   
  
    font-family: 'Poiret One', cursive;       
    margin: 0;
    background-color: #F3F3F3;      

    #app {
       position:relative;
       height: 100%;
    }   
}

.main {
     
    font-size: 18px;
    text-align: justify;
    position: relative;
    display: grid;
    grid-template-rows: 915px 50px;

    @media (max-width: 1270px) {
        grid-template-rows: auto 50px;
    }
    
    a {      
        text-decoration: none;
        color: #7a7a7a;
    }
    .footer {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
    }

}





