
  .menu-container {
    display: grid;
    grid-template-columns: 60% 40%;
     background: #7A7A7A;
     // background: #F3F3F3;
  }


        .menu-bar{
           // font-family: 'Poiret One', cursive;       
          grid-column-start: 2;
          color: #7A7A7A;
          // color: white;
          font-size: 15px;
          text-align: center;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          cursor: pointer;
        }
    

      
    
    .tabbed-section__highlighter {
           position: relative;
           z-index: 10;
           top: -30px;
           height: 5px;
           // background: #B8B8B8; 
           background: white; 

          
           width: 100%;

     
      
       
 
       
          transition: left .2s ease-in-out ;
        }



 .Hworks {
  
 left: 0%;
    }
 .Hinfo {
    left: 100%;

    }
 .Hcontact {
      left: 200%; 

    }
   
    



